<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mia'sSweetTooth</title>
        <!-- Google Fonts for text -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- External CSS link -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="icon" href="static/icons/favicon_cookie2.png">
    </head>
    <body> 
        <!-- Navbar with Hamburger Menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Mia's Sweet Tooth</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#cookies">Cookies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#brownies">Brownies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cupcakes">Cupcakes</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1 class="my-4 text-center">Mia's Sweet Tooth</h1>
            
            <br><br>
            <h2 class="my-4 text-center">Cookie Menu</h2>
            <hr>
            
            <div class="row menu-list">
                {% for item in menu_items %}
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ item.details.image_url }}" alt="{{ item.name }}">
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text">{{ item.details.description }}</p>
                                <p class="card-text"><strong>{{ item.details.Availability }}</strong></p>
                                <div class="price-list">
                                    <ul class="list-unstyled">
                                        {% for key, value in item.pricing.items() %}
                                            <li>{{ key }}: ${{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                    <!-- <span> {{ item.pricing}} </span>
                                    <span><strong>{{ item.pricing['1 Cookie'] }}</strong></span> -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Bootstrap JavaScript dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>