<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewports" content="width=device-width, initial-scale=1.0">
        <title>Mia'sSweetTooth</title>
        <!-- Google Fonts for text -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- External CSS link -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="icon" href="static/icons/favicon_cookie2.png">
    </head>
    <body> 
        <div class="container">
            <h1 class="my-4 text-center">Mia's Sweet Tooth</h1>
            
            <br><br>
            <h2 class="my-4 text-center">Cookie Menu</h2>
            <hr>
            
            <div class="row menu-list">
                {% for item in menu_items %}
                    <div class="col-12 col-sm-6 col-md-4 mb-4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ item.details.image_url }}" alt="{{ item.name }}">
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text">{{ item.details.description }}</p>
                                <p class="card-text"><strong>{{ item.details.Availability }}</strong></p>
                                <p class="card-text d-flex justify-content-between">
                                    <span> {{ item.pricing}} </span>
                                    <span><strong>{{ item.pricing['1 Cookie'] }}</strong></span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>